In [3]:
import pandas as pd

In [4]:
routes = pd.read_csv("../DMRC_Data/routes.txt")
trips = pd.read_csv("../DMRC_Data/trips.txt")
stops = pd.read_csv("../DMRC_Data/stops.txt")
stop_times = pd.read_csv("../DMRC_Data/stop_times.txt")

In [5]:
stop_times.head()

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,stop_headsign,pickup_type,drop_off_type,shape_dist_traveled,timepoint,continuous_pickup,continuous_drop_off
0,0,05:28:08,05:28:28,21,0,NaN,0,0,0.000,1,NaN,NaN
1,0,05:30:58,05:31:18,20,1,NaN,0,0,1202.405,1,NaN,NaN
2,0,05:33:28,05:33:48,19,2,NaN,0,0,2480.750,1,NaN,NaN
3,0,05:35:33,05:35:53,18,3,NaN,0,0,3314.936,1,NaN,NaN
4,0,05:37:53,05:38:13,17,4,NaN,0,0,4300.216,1,NaN,NaN

In [6]:
# Initialize new columns in trips DataFrame
trips['start_time'] = None
trips['end_time'] = None
trips['start_stop'] = None
trips['end_stop'] = None

In [7]:
# Group stop_times by trip_id to get the first and last stop_times for each trip
grouped_stop_times = stop_times.groupby('trip_id').agg(
    start_time=('arrival_time', 'first'),
    end_time=('departure_time', 'last'),
    start_stop=('stop_id', 'first'),
    end_stop=('stop_id', 'last')
).reset_index()

# Merge the grouped stop_times with trips on trip_id
trips = trips.merge(grouped_stop_times, on='trip_id', how='left')
trips = trips.drop(columns=['start_stop_x', 'end_stop_x', 'start_time_x', 'end_time_x'])

In [8]:
trips.drop(columns={'start_time_y', 'end_time_y', 'start_stop_y', 'end_stop_y'}).to_csv("formatted_trips.csv")

In [9]:
trips.to_csv("formatted_DMRC_trips.csv")

In [10]:
trips.loc[trips['route_id'] == 883].sort_values('start_time')

KeyError: 'start_time'